.news-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 16px;
  text-decoration: none;
  display: block;
  background-color: #ffffff; /* Fondo blanco para destacar la tarjeta */
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Más pronunciado el efecto */
}

/* Imagen de la noticia */
.news-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

/* Título y subtítulo */
.news-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000000; /* Cambiado a negro */
}

.news-subtitle {
  font-size: 1rem;
  font-style: italic;
  color: #555;
  margin-top: 8px; /* Añadido margen superior */
}

/* Contenido */
.news-content {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 8px;
}

/* Tags (etiquetas) */
.news-tags {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.news-tags .tag {
  display: inline-block;
  padding: 4px 12px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 0.8em;
  background-color: #FFC400; /* Amarillo de la bandera */
  color: #333;
  border-radius: 16px;
}

/* Acciones de la tarjeta */
.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.spacer {
  flex: 1;
}

/* Botón de compartir (rojo) */
.card-actions button[mat-fab] {
  transition: transform 0.2s ease-in-out;
  background-color: #C60B1E; /* Rojo patriótico */
  color: #ffffff;
}

.card-actions button[mat-fab]:hover {
  background-color: #b50a1a;
  transform: scale(1.1);
}

/* Botón de Leer más (azul) */
.card-actions button[mat-raised-button] {
  background-color: #0066CC; /* Azul oscuro */
  color: white;
}

.card-actions button[mat-raised-button]:hover {
  background-color: #003366;
}


