.news-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 16px;
  text-decoration: none;
  display: flex; /* Cambiado a flex para alinear elementos internos */
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  background-color: #ffffff; /* Fondo blanco para destacar la tarjeta */
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Más pronunciado el efecto */
}

/* Imagen de la noticia */
.news-image {
  margin-top: 1rem;
  width: 100%;
  height: auto; /* Mantiene la proporción */
  max-height: 300px; /* Altura máxima para mantener proporciones */
  object-fit: cover; /* Ajusta la imagen sin recortarla */
}

/* Título y subtítulo */
.news-title {
  font-size: 1.4rem;
  font-weight: bold;
}

/* Contenido */
.news-content {
   font-size: 0.95rem;
   margin-bottom: auto; /* Permite que el contenido ocupe espacio disponible */
}

/* Tags (etiquetas) */
.news-tags {
   margin-top: 1rem; /* Empuja hacia abajo para ocupar espacio disponible */
   margin-bottom: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center; /* Centra las etiquetas horizontalmente */
}

.news-tags .tag {
   display: inline-block;
   padding: 4px 12px;
   margin-right: 8px;
   margin-bottom: 8px;
   font-size: 0.7em; /* Ajustar tamaño de fuente a un punto más pequeño */
   background-color: #FFC400; /* Amarillo de la bandera */
   color: #333;
   border-radius: 16px;
}

/* Acciones de la tarjeta */
.card-actions {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px; /* Ajustar padding si es necesario */
}

.spacer {
   flex-grow:1; /* Espaciador para empujar elementos hacia los extremos */
}

/* Botón de compartir (rojo) */
.card-actions button[mat-fab] {
   transition: transform 0.2s ease-in-out;
   background-color: #C60B1E; /* Rojo patriótico */
   color: #ffffff;
}

.card-actions button[mat-fab]:hover {
   background-color: #b50a1a;
   transform: scale(1.1);
}

/* Botón de Leer más (azul) */
.card-actions button[mat-raised-button] {
   background-color: #0066CC; /* Azul oscuro */
   color: white;
}

.card-actions button[mat-raised-button]:hover {
   background-color: #003366;
}
