<mat-card class="news-card" [routerLink]="['/news', new._id]">
  <mat-card-header>
    <mat-card-title class="news-title">{{ new.title }}</mat-card-title>
    <mat-card-subtitle *ngIf="new.subtitle" class="news-subtitle">{{ new.subtitle }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="new.imgUrl" [alt]="new.tags" class="news-image">

  <mat-card-content class="mt-2 news-content">
    <p>{{ new.content | slice: 0: 150 }}...</p>
  </mat-card-content>

  <div class="news-tags">
    <span class="tag" *ngFor="let tag of new.tags">{{ tag }}</span>
  </div>

  <mat-divider></mat-divider>

  <mat-card-actions class="card-actions">
    <button mat-raised-button color="primary" [routerLink]="['/news', new._id]">
      <mat-icon>more_horiz</mat-icon> Leer más
    </button>
    <span class="spacer"></span>
    <button mat-fab color="accent" [matMenuTriggerFor]="shareMenu" matTooltip="Compartir">
      <mat-icon>share</mat-icon>
    </button>
    <mat-menu #shareMenu="matMenu">
      <button mat-menu-item (click)="shareOnWhatsApp()">
        <mat-icon>whatsapp</mat-icon> WhatsApp
      </button>
      <button mat-menu-item (click)="shareOnFacebook()">
        <mat-icon svgIcon="facebook"></mat-icon> Facebook
      </button>
      <button mat-menu-item (click)="shareOnTwitter()">
        <mat-icon>twitter</mat-icon> Twitter
      </button>
      <button mat-menu-item (click)="copyLink()">
        <mat-icon>link</mat-icon> Copiar enlace
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
