
<mat-card  [routerLink]="['/news', new._id]">
  <mat-card-header>
    <mat-card-title>{{ new.title }}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="new | newImage" [alt]="new.tags">

  <mat-card-content class="mt-2">
    <p>

      {{ new.content | slice:0:100 }}
  

    <button mat-button
      mat-raised
      [routerLink]="['/news', new._id]">
       <mat-icon>more_horiz</mat-icon>
      Más
    </button>

    </p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>

    <mat-chip-listbox>
      <mat-chip *ngFor="let tag of new.tags">
        {{ tag }}
      </mat-chip>
    </mat-chip-listbox>

  </mat-card-actions>

</mat-card>
