<mat-sidenav-container fullscreen>
  <!-- Menú lateral (sidenav) -->
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar color="primary">
      <span class="ml-3">Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of sidebarItems"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
        class="nav-item"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Navbar con los colores de la bandera de España -->
  <mat-toolbar class="toolbar">
    <!-- Sección roja a la izquierda con el menú hamburguesa -->
    <div class="navbar-section red-section left-section">
      <div class="hamburger-menu" (click)="sidenav.toggle()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>

    <!-- Sección amarilla en el centro con el escudo de España y el título del sitio -->
    <div class="navbar-section yellow-section center-section">
      <img src="../../../../assets/escudo_espana.png" alt="Escudo de España" class="escudo" />
      <span class="site-title">El Conservador</span>
    </div>

    <!-- Sección roja a la derecha con los otros botones -->
    <div class="navbar-section red-section right-section">
      <button mat-icon-button [routerLink]="['/auth/login']">
        <mat-icon>person</mat-icon>
      </button>

      <button mat-icon-button (click)="openExternalLink('https://www.instagram.com')">
        <mat-icon svgIcon="instagram"></mat-icon>
      </button>

      <button mat-icon-button (click)="openExternalLink('https://www.facebook.com')">
        <mat-icon svgIcon="facebook"></mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <!-- Contenido de la página -->
  <main>
    <router-outlet></router-outlet>
    <!-- <ng-content></ng-content> -->
  </main>

</mat-sidenav-container>
