.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.error-card {
  max-width: 400px;
  text-align: center;
  padding: 2rem;
  border: 2px solid #C60B1E;
  border-radius: 10px;
  background-color: white;
}

.error-title {
  font-size: 6rem;
  font-weight: bold;
  color: #C60B1E;
  margin-bottom: 0;
}

.error-subtitle {
  font-size: 1.5rem;
  color: #FFC400;
  margin-bottom: 1rem;
}

.error-message {
  font-size: 1rem;
  color: #333;
  margin-bottom: 2rem;
}

.error-image {
  max-width: 100px;
  margin-bottom: 2rem;
}

.error-button {
  background-color: #0066CC;
  color: white;
  padding: 10px 30px;
  font-size: 1.1rem;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
}

.error-button:hover {
  background-color: #003366;
  transform: scale(1.05);
}
