/* layout-page.component.scss */

:host {
  display: block;
  height: 100%; /* Asegura que el contenedor ocupe toda la altura */
}

mat-toolbar {
  background-color: #131414; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  align-items: center; /* Centrar verticalmente */
}

.mat-sidenav {
  background-color: #ffffff; /* Color de fondo del sidenav */
}

.nav-item {
  display: flex;
  align-items: center;
}


.mat-icon {
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}
.mat-icon:hover {

  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}
/* Espaciador para el toolbar */
.spacer {
  flex: 1 1 auto;
}
