.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #f5f5f5;
  padding-top: 20px;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

/* Añadimos un margen superior al primer campo del formulario para separar del título */
mat-form-field:first-of-type {
  margin-top: 20px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.separator span {
  padding: 0 10px;
  color: #777;
}

.google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #757575;
  border: 1px solid #ddd;
}

.google-logo {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .login-card {
    max-width: 90%;
  }
}
