.news-card {
  margin-bottom: 20px;
}

.news-image {
  width: 100%;
  height: 400px;
  object-fit: contain;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  line-height: 1.2;
  color: #333;
}

.news-subtitle {
  font-size: 1.3rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-style: italic;
}

.news-metadata {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #666;
}

.news-metadata > * {
  margin-right: 10px;
}

.news-content {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.news-tags {
  margin-top: 20px;
}

.news-tags .tag {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 0.9em;
  background-color: #FFC400; /* Amarillo de la bandera */
  color: #333;
  border-radius: 16px;
}

.share-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.share-button {
  transition: transform 0.3s ease;
}

.share-button:hover {
  transform: scale(1.1);
}

.ad-card {
  background-image: url('/assets/espana_bandera.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  height: 200px; /* Ajusta la altura según sea necesario */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}


.ad-card .ad-content {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  padding: 10px;
  border-radius: 8px;
}

.ad-card p {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Botón de compartir */
button.compartir {
  background-color: #C60B1E; /* Rojo patriótico */
  color: #ffffff;
}

button.compartir:hover {
  background-color: #b50a1a;
}

/* Botón de volver al inicio */
button.volver-inicio {
  background-color: #0066CC; /* Azul oscuro */
  color: white;
}

button.volver-inicio:hover {
  background-color: #003366;
}
