<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="newsItem; else divLoading" class="grid p-2">

  <mat-card class="col-12 sm:col-6">

    <img [src]="newsItem | newImage" [alt]="newsItem.subtitle" mat-card-image />
  </mat-card>

  <mat-card class="col-12 sm:col-6 mt-2">
    <mat-card-header>
      <mat-card-title>{{ newsItem.title }}</mat-card-title>
      <mat-card-subtitle>{{ newsItem.subtitle }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="pt-2">
      <div>
        <p>{{ newsItem.content }}</p>
      </div>
      <div class="mt-3">
        <mat-icon>event</mat-icon>
        <span>{{ newsItem.date }}</span>
      </div>


      <!-- Botón para volver al inicio -->
      <button mat-button color="danger" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Volver al inicio
      </button>
    </mat-card-content>

  </mat-card>

  <mat-card-footer>
    <div class="tags mt-2">
      <mat-icon>label</mat-icon>
      <span *ngFor="let tag of newsItem.tags" class="tag-label">#{{ tag }}</span>
    </div>
  </mat-card-footer>


</div>
