<ng-container *ngIf="newsItem; else divLoading">
  <div class="grid p-2">
    <div class="col-12 md:col-8 lg:col-9">
      <mat-card class="news-card">
        <div class="news-image-container">
          <img [src]="newsItem | newImage" [alt]="newsItem.subtitle" class="news-image">
        </div>
        <mat-card-content>
          <h1 class="news-title">{{ newsItem.title }}</h1>
          <h2 class="news-subtitle">{{ newsItem.subtitle }}</h2>
          <div class="news-metadata">
            <mat-icon>person</mat-icon>
            <span class="author">{{ newsItem.author }}</span>
            <mat-icon>event</mat-icon>
            <span class="date">{{ newsItem.date }}</span>
            <mat-icon>category</mat-icon>
            <span class="category">{{ newsItem.category }}</span>
          </div>
          <p class="news-content">{{ newsItem.content }}</p>
          <div class="news-tags">
            <mat-icon>label</mat-icon>
            <span *ngFor="let tag of newsItem.tags" class="tag">#{{ tag }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 md:col-4 lg:col-3">
      <mat-card class="sidebar-card">
        <mat-card-header>
          <mat-card-title>Detalles de la noticia</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon matListItemIcon>category</mat-icon>
              <span matListItemTitle>Categoría</span>
              <span matListItemLine>{{ newsItem.category }}</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListItemIcon>subdirectory_arrow_right</mat-icon>
              <span matListItemTitle>Subcategoría</span>
              <span matListItemLine>{{ newsItem.subcategory }}</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <button mat-raised-button color="primary" class="mt-3 w-full" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Volver al inicio
      </button>

      <div class="share-container mt-3">
        <button mat-fab color="accent" [matMenuTriggerFor]="shareMenu" aria-label="Compartir" class="share-button">
          <mat-icon>share</mat-icon>
        </button>
      </div>

      <mat-menu #shareMenu="matMenu">
        <button mat-menu-item (click)="shareOnFacebook()">
          <mat-icon>facebook</mat-icon>
          <span>Facebook</span>
        </button>
        <button mat-menu-item (click)="shareOnTwitter()">
          <mat-icon>twitter</mat-icon>
          <span>Twitter</span>
        </button>
        <button mat-menu-item (click)="shareOnWhatsApp()">
          <mat-icon>whatsapp</mat-icon>
          <span>WhatsApp</span>
        </button>
      </mat-menu>

      <mat-card class="ad-card mt-3">
        <mat-card-content>
          <p>Espacio para anuncio</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>

<ng-template #divLoading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
