<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a routerLink="/about">Acerca de</a>
      <a routerLink="/contact">Contacto</a>
      <a routerLink="/privacy">Política de Privacidad</a>
    </div>
    <div class="social-media">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <mat-icon svgIcon="facebook"></mat-icon>
      </a>
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
        <mat-icon svgIcon="instagram"></mat-icon>
      </a>
      <a [routerLink]="['/auth/login']">
        <mat-icon>person</mat-icon>
      </a>

    </div>
  </div>
  <div class="footer-bottom">
    &copy; {{ currentYear }} El Conservador. Todos los derechos reservados.
  </div>
</footer>
